header {
  height: 68px;
  padding: 16px 32px;
  background-color:  #F8F9F9;
  border-bottom: 1px solid #F1F4F4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  height: 26px;
  gap: 32px;
  list-style: none;
  font-family: "Inter",Arial, Helvetica, sans-serif;
  font-size: 14px;
}

ul li{
  cursor: pointer;
}

ul > li:nth-of-type(1) {
  color: #446556;
  font-weight: bold;
  border-bottom: 2px solid #446556;
}

ul > li:nth-of-type(2) {
  color: #747C7D;
}

p {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #446556;
  cursor: pointer;
}

button {
  padding: 8px 24px;
  border-radius: 12px;
  background-color: #446556;
  border: none;
  font-family: "Inter",Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #E0FFEE;
  cursor: pointer;
  font-weight: bold;
  height: 36px;
}

