<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fats</th>
    </tr>
  </thead>
  <tbody>
    @for (food of foods; track food) {
      <tr>
        <td>{{food.name}}</td>
        <td>{{food.units}}</td>
        <td>{{food.calories}}</td>
        <td>{{food.proteins}}</td>
        <td>{{food.carbs}}</td>
        <td>{{food.fats}}</td>
      </tr>
    }
    <tr>
      <td>Total</td>
      <td>-</td>
      <td>-</td>
      <td>123</td>
      <td>55</td>
      <td>12</td>
      <td>99</td>
    </tr>
  </tbody>
</table>
