<h2>Food's Table</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fats</th>
      <th>Calories</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    @for (food of foods; track food) {
      <tr>
        <td>{{food.name}}</td>
        <td>{{food.units}}</td>
        <td>{{food.proteins}}</td>
        <td>{{food.carbs}}</td>
        <td>{{food.fats}}</td>
        <td>{{food.calories}}</td>
        <td>
          <input type="number" value="1">
        </td>
        <td>
          <button (click)="addFoodSummary(food)">+</button>
        </td>
      </tr>
    }
  </tbody>
</table>
