h1 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #586162;
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: normal;
}

h2 {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  color: #2C3435;
  font-size: 36px;
  letter-spacing: .9px;
  font-weight: 900;
}