<button>Add Food</button>

<form [formGroup]="foodForm" (ngSubmit)="onSubmit()">

  <label>Food Name:</label>
  <input type="text" formControlName="name">

  <label>Units:</label>
  <select formControlName="units">
    <option value="grams">Grams</option>
    <option value="piece">Piece</option>
    <option value="serving">Serving</option>
  </select>

  <label>Calories:</label>
  <input type="number" formControlName="calories">

  <label>Proteins:</label>
  <input type="number" formControlName="proteins">

  <label>Carbs:</label>
  <input type="number" formControlName="carbs">

  <label>Fats:</label>
  <input type="number" formControlName="fats">

  <button type="submit">Add Food</button>
</form>