<h1>My Macros Tracking App</h1>
<label for="">Your calories goal</label>
<input type="text">
<input type="submit">
<h2>Calories goal: 300cal</h2>
<h2>Calories Consumed: 100cal</h2>
<button>Add Food</button>
<br>
<form action="">
  <label for="">Food Name:</label>
  <input type="text">
  <label for="">Units:</label>
  <input type="text">
  <label for="">Calories:</label>
  <input type="text">
  <label for="">Proteins:</label>
  <input type="text">
  <label for="">Carbs:</label>
  <input type="text">
  <label for="">Fats:</label>
  <input type="text">
  <input type="submit">
</form>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Serving</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fats</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Chicken Breast</td>
      <td>1</td>
      <td>170</td>
      <td>23</td>
      <td>3</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
