.daily-calories-card {
  background-color: white;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 560px;
  min-height: 320px;
  border-radius: 32px;
  padding: 32px 32px 72px;
}

h3 {
  color: #586162;
  font-size: 20px;
  font-weight: 800;
}

.calories-total {
  padding: 16px 0;
  display: flex;
  gap: 8px;
  align-items: end;
}

.calories-total > span:first-child {
  color: #446556;
  font-size: 72px;
  letter-spacing: -3.6px;
  font-weight: 900;
}

.calories-total > span:last-child {
  color: #ABB4B5;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
}

.progression-bar {
  background-color: #E3E9EA;
  height: 12px;
  width: 100%;
  border-radius: 99px;
  position: relative;
}

.progression-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #446556;
  border-radius: inherit;
}

p {
  font-family: "Inter",Arial, Helvetica, sans-serif;
  color: rgba(171, 180, 181);
  font-size: 14px;
}